{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre plateforme</h1>
    <p>Veuillez vous connecter pour accéder à vos fonctionnalités personnalisées.</p>
{% endblock %}
